page-login {
    .login-bg {
        background-color: #1D71B9;
        color: #fff;
    }

    .login_button {
        background-color: #fff;
        color: #1D71B9;
        font-weight: 500;
    }

    .invalid {
        border: 1px solid #ea6153;
    }

    .help-block {
        color: #ea6153;
    }
}
