<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="container" scroll="false">
  <div class="col-center"> 
      <img src="assets/images/icon.png">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)">
    <div class="form-group col-center" formGroupName= "loginData"> 
      <ion-item class="item-bg">
        <ion-label floating class="textColor-white">Personal Email</ion-label>
        <ion-input type="email" class="form-control" formControlName="email" required></ion-input>
      </ion-item>
      <div *ngIf="!loginForm.get('loginData.email').valid && loginForm.get('loginData.email').touched" 
      class="help-block">Please Enter Valid Email </div>

      <ion-item class="item-bg">
        <ion-label floating class="textColor-white">Password</ion-label>
        <ion-input type="password" class="form-control" formControlName="password" required></ion-input>
      </ion-item>

      <div *ngIf="!loginForm.get('loginData.password').valid && loginForm.get('loginData.password').touched" 
      class="help-block">Please Enter Password </div>
      
      <ion-item class="item-bg">
        <ion-label>Remember login</ion-label>
        <ion-checkbox class="form-control" formControlName="remeberLogin" (ionChange)="updateRememberLogin()"></ion-checkbox>
      </ion-item>
    </div>
    <div class="col-center"> 
      <p class="textColor-white"> Forgot your password? </p>
    </div>
    <div class="form-group col-center margin-10"> 
      <button type="submit" [disabled] = "!loginForm.valid" ion-button full class="login_button"> LOG IN</button>
    </div>
  </form>

  
</ion-content>
