
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .button-container {
        align-self: flex-end;
        text-align: right;
    }

    .icons {
        background-color: #fff;
        border: 1px solid #7f8c8d;
        color: #7f8c8d;
        margin: 0;
        font-size: 0.9em;
    }
    .contact-label{
        background: #ccc;
    padding: 5px;
    margin: 5px;
    }
