<!--
  Generated template for the RegisterfinalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="container" scroll="false">
    <div class="col-center"> 
      <img src="assets/images/icon.png">
    </div>
    <div class="col-center textColor-white"> 
      <span> We want you to put your work info so that in the event that you have a change of job, 
        it will be easily updatable!
      </span>
    </div>
    <form [formGroup]="registerFinalForm" (ngSubmit)="doStart(registerFinalForm.value)"> 
      <div class="form-group col-center" formGroupName= "registerFinalData"> 
        <ion-item class="item-bg">
          <ion-label color="primary" class="textColor-white">Name:</ion-label>
          <ion-input class="form-control" formControlName="name" type="text" required></ion-input>
        </ion-item>
        <!--<ion-auto-complete [dataProvider]="autoCompleteService"></ion-auto-complete>-->
        <ion-item class="item-bg">
          <ion-label color="primary" class="textColor-white">Company:</ion-label>
          <!--<ion-auto-complete [dataProvider]="autoCompleteService"></ion-auto-complete>-->
          <!--<ion-select [(ngModel)]="zone.kind" interface="popover">
            <ion-option *ngFor="#key of companyList">{{key.MemberCompanyName}}</ion-option>
          </ion-select>-->
          <ion-input class="form-control" formControlName="company" type="text" required></ion-input>
        </ion-item>
        <ion-item class="item-bg">
          <ion-label color="primary" class="textColor-white">E-mail:</ion-label>
          <ion-input class="form-control" formControlName="workEmail" type="text" 
          placeholder="Work E-mail" required></ion-input>
        </ion-item>
        <ion-item class="item-bg">
          <ion-label class="textColor-white">Industry</ion-label>
          <ion-select [(ngModel)]="selIndustry" multiple="true" class="form-control" 
              formControlName="industry" required>
            <ion-option *ngFor="let industry of industryList" [value]="industry">
              {{ industry }}
            </ion-option>
          </ion-select>
        </ion-item>
        <div class="form-group col-center margin-10"> 
          <button type="submit" [disabled] = "!registerFinalForm.valid" 
          ion-button full class="start_button"> Start</button>
        </div>
      </div>
    </form>
</ion-content>

