page-edit-profile{
    .no-padding {
        padding: 0px !important;
    }    
    
    .max-width-100-px {
        max-width: 100px;
    }
    
    .padding-10px {
        padding: 0px 5px 5px 0px;
    }
    
    input[type="text"], textarea {
        width: 100%;
    }
    
    textarea {
        height: 50px;
    }
    
    .display-inline-block {
        display: inline-block;
    }
    
    .display-block {
        display: block;
    }
    
    .photo-container {        
        height: 80px;
    }
    
    .photo-placer {
        width: 66px; 
        height: 66px;
    }
    
    .camera-icon {
        position: relative; 
        left: 0px; 
        top: -50px;
        height: 35px;
        width: 35px;
    }
}