page-launcher {
    .launcher_button {
        background-color: #1D71B9;
        border: solid 2px #fff;
    }

    .launcher_icon { 
        font-size: 44px;
        color: #fff;
    }
	
	// .loader {
	// 	height: 5px;
	// 	width: 100%;
	// 	background: white;
	// }
	
	// .loader .bar {
	// 	height: 5px;
	// 	background-color: #387ef5;
	// 	animation-name: loader-animation;
	// 	animation-duration: 4s;
	// 	animation-iteration-count: 1;
	// 	animation-timing-function: ease-in-out;
	// }
	
	// @keyframes loader-animation {
	// 	0% {
	// 		width: 0%;
	// 	}
		
	// 	100% {
	// 		width: 100%;
	// 	}
	// }
}
