<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="col-center">
        <img src="assets/images/brand.png" />
    </ion-title>
    <ion-buttons end (click) ="callNotification()">
      <button ion-button icon-only>
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
      </button>
    </ion-buttons>   
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor='let l of homeList; let i = index'>
      <div *ngIf="i==0">
        <ion-row (click)="callDetailsPage(l)">
          <img class="img_src" src="{{ l.AttachmentLocation }}" />
        </ion-row>
        <ion-row >
          <p>{{ l.Title }}</p>
        </ion-row>
      </div>
      <div *ngIf="i>0">
        <ion-row>
          <ion-row *ngIf="(l.MediaType == 'News' && l.Type == 'News')" (click)="callDetailsPage(l)">
            <ion-col width-40>
              <img class="img_src_next" src="{{ l.AttachmentLocation === '' ? l.MediaLink : l.AttachmentLocation }}" />
            </ion-col>
            <ion-col width-60 >
              <span>{{ l.Title }}</span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="l.MediaType === 'Banner'">
            <img class="img_src" (click)="openBrowser(l.MediaLink)" src="{{ l.AttachmentLocation }}" />
          </ion-row>
          <ion-row *ngIf="l.MediaType === 'Youtube Video'" (click)="openVideo(l.VideoCode)">
            <ion-col width-40>
              <img class="img_src" src="{{ l.MediaLink }}" />
            </ion-col>
            <ion-col width-60>
              <span>{{ l.Title }}</span>
            </ion-col>
          </ion-row>
        </ion-row>
        <hr *ngIf="l.MediaType == 'News' || l.Type == 'News'|| l.MediaType === 'Banner' || l.MediaType === 'Youtube Video'" style="width:100%; border-bottom: 1px solid #1D71B9">
      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="custom-footer-color">
  <ion-toolbar>
    <ion-row class="footer_row">
      <ion-col (click) ="callNews()">
        <img src="assets/icon/news.png">
      </ion-col>
      <ion-col>
        <img src="assets/icon/events.png">
      </ion-col>
      <ion-col no-padding>
        <img src="assets/icon/scanning.png">
      </ion-col>
      <ion-col (click) = "callContacts()">
        <img src="assets/icon/contacts.png">
      </ion-col>
      <ion-col (click) = "callProfile()">
        <img src="assets/icon/profile.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


