.product-image{
    width: 100px !important;
    height: 100px !important;
}
.margin-top-0{
    margin: 0px;
    width: 100%;
    color: #514c4c;

}
.pro-supply{
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 12px;
}
.pro-company-name{
    color: #1d73b5 !important;
    font-size: 12px;
}
.font-12{
    font-size: 12px;
}